################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS474HW1103/v16/ipch/AutoPCH/ec0909a7dcbc25cd
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/CS474HW1103/v16/Browse.VC.opendb
/.vs/CS474HW1103/v16/Browse.VC.db
/.vs/CS474HW1103/v16/.suo
