################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS474HW1103/v16/ipch/AutoPCH/ec0909a7dcbc25cd
